{% extends '__main.jinja' %}

    

{% block content %}
<body>

<div class="full_uvod">
    {% include '__menu.jinja' %}

    
  
    <div class="content_uvod">
    
    <h1>VÍTEJTE V NAŠEM AUTOSERVISU</h1>
    
    Naše uživatelská správa je navržena tak, aby vám poskytla pohodlné a efektivní způsoby, jak spravovat a udržovat vaše vozidla. Bez ohledu na vaši roli - buďte to administrátor, manažer oddělení, technik nebo zákazník - naše aplikace vám nabízí různé funkce, které vám pomohou s vašimi potřebami a požadavky.<br><br>
<b>Pro administrátory:</b> <br>
Máte plný přístup ke všem funkcím aplikace, včetně správy uživatelů, rolí a jejich oprávnění. Jste v kontrolě a můžete provádět všechny potřebné úpravy a nastavení.<br><br>
<b>Pro manažery oddělení:</b><br>
Získáváte přístup k relevantním oddělením (technická kontrola, servis, likvidace) a můžete spravovat záznamy, plány a zdroje přiřazené k těmto oddělením. To vám umožňuje účinně řídit a monitorovat provoz ve vašem oddělení.<br><br>
<b>Pro techniky:</b><br>
Můžete zaznamenávat výsledky technické kontroly a provedené servisní práce, a to pouze pro vozidla, která jsou vám přiřazena. To vám usnadňuje sledování a správu práce na vozidlech.<br><br>
<b>Pro zákazníky:</b><br>
Naše aplikace vám dává možnost sledovat stav svých vozidel, plánovat termíny technických kontrol a servisu. S naší aplikací zůstanete v kontaktu se stavem vašich vozidel a budete vědět, kdy je čas pro údržbu.<br><br>
    
    
    </div>
    </div>


  </body>
{% endblock %}